<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=|DataDirectory|Alloy.mdf;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Data Source=.;Database=EpiAlloy;User Id=NewcoDbAdmin;Password=7AR2UgWyCUGKj4Kz;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>