<connectionStrings>
  <clear />
  <!--<add name="EPiServerDB" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=|DataDirectory|Alloy.mdf;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="EPiServerDB" connectionString="Data Source=.;Database=EpiAlloy;User Id=NewcoDbAdmin;Password=7AR2UgWyCUGKj4Kz;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="EPiServerDB" connectionString="Server=tcp:ci-newco-sqlserver.database.windows.net,1433;Initial Catalog=EpiAlloy;Persist Security Info=False;User ID=NewcoDbAdmin;Password=7AR2UgWyCUGKj4Kz;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=cinewcostorage;AccountKey=3Kewi7OdWfhxPB0DqspoqNa+V1vYy1raP+xL1eAc9r5cvanww9HkBiVDMl0mtDnV7e8iiIqiroxb0QILjuU6KA==;EndpointSuffix=core.windows.net" />
  <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://ci-newco-sbus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=XwoEY97huEoTaIk9hZPQut+/EbyhFj/A7tk2GeHveDE=" />
</connectionStrings>